# Backend environment variables
MONGO_URL=
DB_NAME=
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=6

# Email configuration
SMTP_SERVER=s
SMTP_PORT=
SENDER_EMAIL=
SENDER_PASSWORD=

# PayPal configuration
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox

# AI API Keys
GROQ_API_KEY=
GOOGLE_API_KEY=

# CORS configuration  
ALLOWED_ORIGINS=
